<div class="welcomeHeader fadeIn fullSize">
  <div>
    <div class="subTitle center">Challenge your friends in this game that could make you lose your head!</div>
    <div class="handsContainer">
      <i class="far fa-hand-rock fa-7x red"></i>
      <i class="far fa-hand-paper fa-7x yellow"></i>
      <i class="far fa-hand-scissors fa-7x green"></i>
    </div>
    <div class="center top20">
        <button [routerLink]="['/game']" routerLinkActive="router-link-active" >Play</button>
        <button [routerLink]="['/game']" routerLinkActive="router-link-active" >History</button>
    </div>
  </div>
</div>